@model IEnumerable<EmployeeManagementSystem.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List of all the employees</h1>

<a asp-action="Create">Insert new employee</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            
            foreach (var employee in Model)
            {
                if (employee == null)
                {
                    <tr><td colspan="5">Null employee found</td></tr>
                    continue;
                }
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Age</td>
                    <td>@employee.DepartmentID</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@employee.EmployeeID">Edit</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@employee.EmployeeID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>